<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Cadastrados</title>
</head>
<body style="background-color: aquamarine;">
    <h2 style="color: blue;">Cadastrar novo usuario</h2>
    <form method="post" action="/add_user">
        <div>
            <label for="idnome">Nome</label>
            <input type="text" id="idnome" name="nome"><br><br>
        </div>
        <div>
            <label for="ididade">Idade</label>
            <input type="number" id="ididade" name="idade"><br><br>
        </div>
        <div>
        <input type="submit" value="enviar">
        </div>
</body>
</html>